@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Epilogue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
  background-color: rgb(204 251 241);
}
body::-webkit-scrollbar {
  width: 14px;
  height: 14px;
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a9a9a9aa;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box;
}

input,
textarea {
  outline: none;
}
* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
  /* transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms; */
}
a {
  text-decoration: none !important;
}
li {
  list-style: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
}
td {
  vertical-align: middle;
  height: 44.8px;
}
